{% load static %}

<!-- PROFILE CARD -->
 <style nonce="{{request.csp_nonce}}">

    .card-config{
        height: 150px;
        max-width: 540px;
        min-width: 257px
    }

    .height100{
        height:100%;
    }

    .image-config{
        height: 148px;
        width:100%;
        object-fit:cover;
    }

    .posted-by{
        text-decoration: none;
     } 
 </style>

<div class="card mb-5 card-config">
    <div class="row g-3">
        <div class="col-4 border-end  pe-0">
            <a href="{% url 'profile' profile.user.id %}">
                {% if profile.profile_image %}
                <img src="{{ profile.profile_image.url }}" class="img-fluid rounded-start image-config"
                    alt="{{ profile.profile.username}}">
                {% else %}
                <img src="{% static '/images/default_profile_pic.jpg' %}" class="img-fluid rounded-start image-config"
                    alt="Profile Image">
                {% endif %}
            </a>
        </div>
        <div class="col-8">
            <div class="card-body mt-1 mb-1 height100">
                <div class="h-75">
                    <h5 class="card-title mb-0">{{ profile.user.get_username }}</h5>
                    <p class="card-text"><a href="{% url 'profile' profile.user.id %}" class="posted-by"
                           >@{{ profile.user.get_username|lower}}
                        </a></p>
                </div>
                <div class="h-25 mt-3 mb-0 card-text d-flex align-items-end justify-content-end">
                    <p class=""><small class="text-body-secondary height100">Last Updated:
                            {{profile.date_modified}}</small>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>




<!-- PROFILE CARD -->
<!-- <div class="card mb-5" style="height: 150px; max-width: 540px; min-width: 257px">
    <div class="row g-3">
        <div class="col-4 border-end  pe-0">
            <a href="{% url 'profile' profile.user.id %}">
                {% if profile.profile_image %}
                <img src="{{ profile.profile_image.url }}" class="img-fluid rounded-start"
                    alt="{{ profile.profile.username}}" style="height: 149px; width:100%; object-fit:cover;">
                {% else %}
                <img src="{% static '/images/default_profile_pic.jpg' %}" class="img-fluid rounded-start"
                    alt="Profile Image" style="height: 149px; min-width:100%; object-fit:cover;">
                {% endif %}
            </a>
        </div>
        <div class="col-8 m-0">
            <div class="card-body mt-1 mb-1" style="height:100%">
                <div class="h-75">
                    <h5 class="card-title mb-0">{{ profile.user.get_username }}</h5>
                    <p class="card-text"><a href="{% url 'profile' profile.user.id %}"
                            style="text-decoration: none;">@{{ profile.user.get_username|lower}}
                        </a></p>
                </div>
                <div class="h-25 mt-3 mb-0 card-text d-flex align-items-end justify-content-end">
                    <p class=""><small class="text-body-secondary" style="height:100%">Last Updated:
                            {{profile.date_modified}}</small>
                    </p>
                </div>
            </div> 
        </div>
    </div>

</div>-->