{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class="mb-4">Search Users!</h1>
<div class="row">
    <div class="col-8">
        <!-- SEARCH FORM -->
        <div class="mb-3">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-5">
                    {% comment %} <label for="search-meep" class="form-label">Search Meep</label> {% endcomment %}
                    <input type="input" class="form-control" id="search-meep" placeholder="Search User" name="search">
                </div>
                <button type="submit" class="btn btn-secondary">Search</button>
            </form>
        </div>
    </div>
</div>

<!-- RESULTS -->
{% if search %}
{% if profiles %}
{% for profile in profiles %}
{% include "partials/profile_card.html" %}
{% endfor %}
{% else %}
<h3 class="mb-4"> No Users containing: "{{ search }}" </h3>
{% endif %}
{% endif %}

{% endblock content %}